body{
    background-color: #252525;
    color: white;
    font-size: 16px;
}

h1{
    color: #e74c3c;
}

.col-sm-3{
    background-color: whitesmoke;
}




/********* CONTENT *********/

.card-title{
    color: #252525;
}

.card-text{
    color: red;
}

.btn-primary{
    background-color:#e74c3c;
}

.btn-primary:link, .btn-primary:visited{
    border-color: #e74c3c;
    background-color:#e74c3c;
}

.btn-primary:hover, .btn-primary:active{
    border-color: #b3291a;
    background-color: #b3291a;
}


/********* FOOTER *********/

.footer{
    margin: 15px;
}
