.container{
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-gap: 20px;
    padding: 10px;
    justify-content: center;
}

.item{
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    color: whitesmoke;
}
