body{
    margin: auto;
    margin: 40px 40px;
}

.container{
    display: inline-grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    grid-gap: 40px;
}

.item{
    padding: 20px;
    background-color: #7395AE;
    border-radius: 5px;
}

.img-con{
    width: 250px;
    margin: auto;
}

img{
    width: 100%;
    border-radius: 5px;
}

a:link, a:visited{
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    background-color: #F64C72 ;
    color: white;
    border-radius: 5px;
}

a:hover, a:active{background-color: #b01336}
p{color: #f7f0f2;}
a{margin-top: 5px;}
b{color: black !important}
